In [ ]:
#ex_011
N = 100
import math
sotssu = [True for i in range(N+1)]
sotssu[0] = False

for i in range(2, int(math.sqrt(N)+1)):
  if sotssu[i] == True:
    j = 2
    while i*j <= N:
      sotssu[i*j] = False
      j += 1
for i in range(2, N):
  if sotssu[i]:
    print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
#ex_012
ylist = []
a = 0
def yakssu(n):
  global a
  c = 2
  while c*c <= n:
    if n%c == 0:
      ylist.append(c)
      if c*c == n:
        break
      ylist.append(n//c)
    c += 1
  ylist.append(1)
  ylist.append(n)
  for i in ylist:
    a += i
  print(a)
n = int(input())
yakssu(n)

8
15

In [ ]:
#ex_013
def yakssu(a,b):
  while b >0:
    c = a%b
    if c != 0:
      a = b
      b = c
    else:
      break
  print(b)

a,b = map(int,input().split())
yakssu(a,b)

192 72
24

In [8]:
#ex_014
def yakssu(a,b):
  if a%b != 0:
    yakssu(b,a%b)
  else:
    return print(b)

a,b = map(int,input().split())
yakssu(a,b)

192 72
24

In [6]:
#ex_015
i = 2
def soinsu(n):
  global i
  while i <= n:
    while 1:
      if n%i == 0:
        print(i)
        n = n//i
      else:
        break
    i += 1

n = int(input())
soinsu(n)

24
2
2
2
3

In [13]:
#ex_016
a,b = map(int, input().split())
i = 2
while i <= a*b:
  if i%a == 0 and i%b == 0:
    break
  else:
    i += 1
print(i)

2 3
6

In [ ]:
#ex_017
a =[1]*11
for i in range(3,11):
  a[i] = a[i-1] + a[i-2]
  i += 1

a

[1, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
#ex_018
a = [1]*11
for i in range(2,11):
  a[i] = a[i//2]+1
  i += 1
a

[1, 1, 2, 2, 3, 3, 3, 3, 4, 4, 4]

In [ ]:
#ex_019
n,r = map(int,input().split())
n_result = 1
r_result = 1
nr_result = 1
for i in range(1,n+1):
  n_result *= i
for i in range(1, r+1):
  r_result *= i
for i in range(1, n-r+1):
  nr_result *= i

outcome = n_result/(r_result * nr_result)
outcome

10 3
120.0

In [ ]:
#ex_020
def combi(n,r):
  if r ==0 or r == n:
    return 1
  else:
    return combi(n-1,r) + combi(n-1, r-1)

n,r = map(int,input().split())
combi(n,r)

10 3