In [ ]:
#ex_021
def combi(n,r):
  if n == r or r == 0:
    return 1
  else:
    return int(combi(n,r-1)*(n-r+1)/r)

n,r = map(int,input().split())
combi(n,r)

10 3

120

In [ ]:
#ex_022
def tile(n):
  if n <= 1:
    return 1
  else:
    return tile(n-1) + 2*tile(n-2)

n = int(input())
tile(n)

3

5

In [ ]:
#ex_023
def dif(a,b):
  if a>b:
    return int(a-b)
  elif a<b:
    return int(b-a)
  else:
    return 0

a,b = map(int, input().split())
dif(a,b)

50 60

10

In [ ]:
#ex_024
score = list(map(int,input().split()))
rank = []
for i in score:
  rank.append(i//10)

for i in range(11):
  print(f'{i}점대: {rank.count(i)}명')

5 15 25 35 45 55 65 75 85 95 100
0점대: 1명
1점대: 1명
2점대: 1명
3점대: 1명
4점대: 1명
5점대: 1명
6점대: 1명
7점대: 1명
8점대: 1명
9점대: 1명
10점대: 1명

In [ ]:
#ex_025
score = list(map(int,input().split()))
score.sort()
score.reverse()
for i in score:
  print(f'{i}점: {score.index(i)+1}등')

100 20 75 41 16 45
100점: 1등
75점: 2등
45점: 3등
41점: 4등
20점: 5등
16점: 6등

In [ ]:
#ex_026
sipjinsu = int(input())
sipyukjinsu = hex(sipjinsu)
sipyukjinsu

60

'0x3c'

In [ ]:
#ex_027
def fact(n):
  x = 1
  i = n
  while i > 0:
    x *= i
    i-= 1
  return x

n = int(input())
fact(n)

4

24

In [ ]:
#ex_028
def fact(n):
  if n == 0:
    return 1
  else:
    return n*fact(n-1)

n = int(input())
fact(n)

5

120

In [ ]:
#ex_029
def hanoi(n,a,b,c):
  if n > 0:
    hanoi(n-1,a,c,b)
    print(f'{n}번 원반을 {a}에서 {b}로 옮김')
    hanoi(n-1,c,b,a)

n = int(input())
hanoi(n,'a','b','c')

3
1번 원반을 a에서 b로 옮김
2번 원반을 a에서 c로 옮김
1번 원반을 b에서 c로 옮김
3번 원반을 a에서 b로 옮김
1번 원반을 c에서 a로 옮김
2번 원반을 c에서 b로 옮김
1번 원반을 a에서 b로 옮김

In [ ]:
#ex_030
def tree(f,s):
  if f==s:
    return 0
  if f < s:
    return tree(f,s//2)+1
  if f > s:
    return tree(f//2,s)+1

f,s = map(int,input().split())
tree(f,s)

4 3

3

In [ ]:
#ex_030 (다른 풀이)
def tree(f,s):
  if f == s :
    return 0
  if f or s == 1:
    return p*2
  while f and s > 0:
    if f < s :
      if f//2 == 0:
        p += 1
        tree(f/2,s)
        return p
      else:
        p += 1
        tree((f-1)/2,s)
        return p
    if f > s :
      if s//2 == 0:
        p += 1
        tree(f,s/2)
        return p
      else:
        p += 1
        tree(f,(s-1)/2)
        return p

f,s = map(int,input().split())
p = 0
tree(f,s)

4 4

0